<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui"
xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Cadastrar Automóvel</title>
</h:head>
<h:body>
	<h:form>
		<h:panelGrid columns="2">
			Marca:<p:inputText binding="#{input1}" />
			<h:commandButton action="#{automovelBean.save(automovelBean.automovel)}" value="Salvar" />
		</h:panelGrid>
		
		<br></br><br></br>
		
		<h:dataTable value="#{automovelBean.automoveis}" var="automovel" border="1">
			<h:column>
				<f:facet name="header">
					ID
				</f:facet>
				#{automovel.id}
			</h:column>
			
			<h:column>
				<f:facet name="header">
					Marca
				</f:facet>
				#{automovel.marca}
			</h:column>
			<h:column>
				<f:facet name="header">
					Opções
				</f:facet>
				<h:commandLink action="#{automovelBean.delete(automovel)}" value="Excluir" />
			</h:column>
			
			<h:column>
				<f:facet name="header">
					Opções
				</f:facet>
				<h:commandLink action="#{automovelBean.update(automovel, input1.value)}" value="Atualizar" />				
			</h:column>
		</h:dataTable>
	</h:form>
</h:body>
</html>